CONFIG_EXTERNAL_SYSTEMAPP=y
CONFIG_EXTERNAL_SYSTEMAPP_STACKSIZE=4096
CONFIG_EXTERNAL_ISAPP_STACKSIZE=4096
CONFIG_EXTERNAL_LARGE_HEAP_MEMORY_MAP=y
CONFIG_APP_EXTERNAL_SENSOR_AI_LIB_IMX500=y
CONFIG_EXTERNAL_SYSTEMAPP_SYSTEM_UPDATE_SUPPORT=y
CONFIG_EXTERNAL_SYSTEMAPP_TEMPERATURE_UPPER_THRESHOLD=80
CONFIG_EXTERNAL_SYSTEMAPP_DEFAULT_NETWORK_ID="999997"
CONFIG_EXTERNAL_SYSTEMAPP_STREAM_AND_IMAGE_CONCURRENT=y
